{% extends "galerias/base.html" %}
{% block title %}{{ galeria.car }} - Carros {% endblock %}
{% block content %}

<div class="flex flex-row md:flex-row gap-8">
    <!-- {# Imagem da Receita #} -->
    {% if galeria.image %}
    <div class="md:w-1/2">
        <img src="{{ galeria.image.url }}" alt="[Imagem de {{ galeria.title }}]"
            class="w-full h-auto object-cover rounded-lg shadow-md">
    </div>
    {% endif %}
    {# Veículos #}
    <div class="md:w-1/2">
        <img src="{{ galeria.image1.url }}" alt="[Imagem de {{ galeria.image1 }}]"
            class="w-full h-auto object-cover rounded-lg shadow-md">
    </div>
    <div class="md:w-1/2">
        <!-- <h2 class="text-4xl font-bold text-gray-900 mb-4">{{ galeria.car2 }}</h2> -->
        <img src="{{ galeria.image2.url }}" alt="[Imagem de {{ galeria.image2 }}]"
            class="w-full h-auto object-cover rounded-lg shadow-md">
        <!-- <h3 class="text-2xl font-semibold text-gray-800 mb-2">Preço: {{ galeria.description2 }}</h3> -->
    </div>
    <div class="md:w-1/2">
        <!-- <h2 class="text-4xl font-bold text-gray-900 mb-4">{{ galeria.car3 }}</h2> -->
        <img src="{{ galeria.image3.url }}" alt="[Imagem de {{ galeria.image3 }}]"
            class="w-full h-auto object-cover rounded-lg shadow-md">
        <!-- <h3 class="text-2xl font-semibold text-gray-800 mb-2">Preço: {{ galeria.description3 }}</h3> -->
    </div>
    <div class="flex flex-col">
        <h2 class="text-4xl font-bold text-gray-900 mb-4">{{ galeria.car }}</h2>
        <h3 class="text-2xl font-semibold text-gray-800 mb-2">Preço: {{ galeria.description1 }}</h3>
    </div>

</div>
<div class="mt-8 text-center">
    <a href="{% url 'home' %}"
        class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-full transition durantion-300 ease-in-out shadow-lg">
        &larr; Voltar para a Lista de Marcas
    </a>
</div>
{% endblock %}