{% extends "galerias/base.html" %}
{% block car %} Home - Minhas Receitas {% endblock %}
{% block content %}
<!-- Conteúdo principal da página -->


<section class="container mx-auto mt-8 p-4 flex justify-center">
    <form method="get" action="{% url 'pesquisar_galerias' %}"
        class="w-full max-w-lg flex bg-white rounded-full shadow-md overflow-hidden">
        <input type="text" name="q" placeholder="pesquisar carros... "
            class="flex-grow p-3 text-gray-700 focus:ring-2 focus-ring-orange-500 rounded-l-full pl-5">
        <button type="submit"
            class="bg-orange-500 hover:bg-orange-600 text-white p-4 px-6 rounded-r-full transition duration-300 ease-in-out flex items-center justify-center">
            <i class="fas fa-search mr-2"></i> Pesquisar
        </button>
    </form>
</section>

<h2 class="text-2xl font-semibold mb-4 text-center">Modelos</h2>

<div class="flex flex-wrap justify-center gap-6">
    {% for galeria in galerias %}
    <div
        class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        {% if galeria.image1 %}
        <img src="{{galeria.image1.url}}" alt="Imagem de {{galeria.car}}"
            class="w-full h-48 objevt-cover rounded-md mb-4">
        {% endif %}
        <h3 class="text-xl font-bold mb-2 text-gray-800">{{ galeria.car }}</h3>
        <p class="text-gray-600 mb-4">{{ galeria.description1|truncatewords:20}}</p>
        <a href="{% url 'galeria_detail' galeria.id %}" class="text-orange-600 hover:text-orange-800 font-semibold">Ver
            Carro &rarr;</a>
    </div>
    {% empty%}
    <p class="text-center text-gray-500 col-span-full">Nenhum carro encontrado.</p>
    {% endfor %}
</div>
{% endblock %}

