{% extends "galerias/base.html" %}
{% block content %}
<h2 class="text-2xl font-semibold mb-6 text-center">
    {% if query %}
    Resultados para: "{{ query }}"
    {% else %}
    Nenhum termo pesquisado
    {% endif %}
</h2>
<div class="flex flex-wrap justify-center gap-6">
    {% if resultados %}
    {% for galeria in resultados %}
    <div
        class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-mb hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <img src="{{ galeria.image1.url }}" alt="[Imagem de {{ galeria.car }}]"
            class="w-full h-48 object-cover rounded-md mb-4">
        <h3 class="text-xl font-bold mb-2 text-gray-800">{{ galeria.car }}</h3>
        <p class="text-gray-600 mb-4">{{ galeria.description1|truncatewords:20 }}</p>
        <a href="{% url 'galeria_detail' id=galeria.id %}"
            class="text-orange-600 hover:text-orange-800 font-semibold">Ver Carro &rarr;</a>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-center text-gray-600">Nenhum carro encontrad</p>
    {% endif %}
</div>
{% endblock %}